* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar > * {
  margin: 10px 0;
}

.logo {
  margin-right: auto;
  margin-left: 3%;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  margin: 0 1rem;
}

.button {
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.sub-button {
  font-size: 18px;
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
}



.content-big {
  width: 100%;
  margin: 56px;
}

.content-big h1 {
  font-size: 2rem;
}

.content-small {
  width: 100%;
 
}
.content-small p {
  font-size: 20px;
}

.content-button {
  margin: 56px;
  font-size: 18px;
}

.content-button button {
  background-color: black;
  color: white;
  width: 200px;
  height: 60px;
}

.video {
  margin: auto;
}

.footer-container {
  display: flex;
  background-color: #6f6f6f;
  height: 40vh;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 3rem;
  padding-right: 8rem;
}

.footer-project-container {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.footer-logo {
  margin-bottom: 59px;
}

.footer-blog {
  width: 30%;
}

.footer-blog p {
  font-size: 14px;
}

.footer-blog h5 {
  font-size: 24px;
}

.footer-blog-bold {
  font-weight: 600;
}

.footer-blog > * {
  margin: 5%;
}

.footer-misc {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.divider {
  height: 18rem;
  margin: 10px 0;
  border-left: 1px solid black;
}

.footer-color{
  background-color: #6f6f6f;
}

.footer-height{
  height: 100%;
}

/* .content-height{
  height:
} */

.padding-footer{
  padding-top: 10%;
}